<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Post</h1>

    <h3>Post Details</h3>
    <p>id: <%= post.id %> </p>

    <div class="post">
        <h3>Username: @<%= post.username %></h3>
        <h4>Content: <%= post.content %> </h4>

        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <label for="content">Edit Content: </label> <br>
            <textarea rows="5" cols="35" name="content"><%= post.content %> </textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div> 

    <br>
    <a href="http://localhost:3015/posts" class="see-all">Back</a>
</body>
</html>